@import "tailwindcss";

@theme {
  --color-primary: #00bade;
  --color-primary-2: #4a77f4;
  --color-secondary: #3e4555;
  --color-accent: #eaeff3;

  --color-success: #10b981;
  --color-warning: #facc15;
  --color-error: #ef4444;
  --color-info: #368aee;

  --color-text: #3e4555;
  --color-text-secondary: #ffffff;
  --color-muted: #8d97ad;
  --color-border: #e5e7eb;
  --color-background: #ffff;
  --color-surface: #f9fafb;
}

::-moz-selection {
  color: var(--color-text-secondary);
  background: var(--color-primary);
}

::selection {
  color: var(--color-text-secondary);
  background: var(--color-primary);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Brand Colors */
}

html {
  scroll-behavior: smooth;
}

.main-gradient {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-2)
  );
}
.button-gradient {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-2)
  );
  transition: all;
}

.button-gradient:hover {
  background: var(--color-primary);
}

.section-title {
  color: var(--color-text-secondary);
  @apply rounded-full px-3 py-1 text-xs lg:text-sm;
}

/* Pricing Section */
.plan-list > li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f058";
  @apply font-black me-2.5 antialiased;
}

.pricing-info-list > li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f058";
  color: var(--color-info);
  @apply font-black me-2.5 antialiased;
}

/* Team Member */
